body{
    background-color: whitesmoke;
}
main{
    width:350px;
    margin:auto;
    display: grid;
    grid-row-gap:25px; ;

}
.item1{ 
    color:white;
    width:300px;
    margin:auto;
    height:460px;
    background-color:blueviolet;
    border-radius:10px;
}
.text,h5{
    display:inline;
    margin-left:10px;
}
.text{
    font-size:15px;
}
img{
    border-radius:50%;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    height:50px;
    width:50px;
    float:left;
    display: inline;
    margin-top:28px;
    position: relative;
}
.quo{
    font-size: 12px;
}
section{
    width:250px;
    margin:auto;
}
aside{
    height:30px;
    width:200px;
    display:inline-block;
}
.talk{
    font-size: 20px;
}
.quote{
    font-size:12px;
}
.item2{
    color:white;
    width:300px;
    margin:auto;
    height:280px;
    background-color:rgb(82, 71, 92);
    border-radius:10px;
}
.item3{
    color:black;
    width:300px;
    margin:auto;
    height:280px;
    background-color:white;
    border-radius:10px;
}
.item4{ color:white;
    width:300px;
    margin:auto;
    height:415px;
    background-color:rgb(23, 15, 44);
    border-radius:10px;}
    #pat{
        border-color: blueviolet;
        border-width: 2px;
        border-style: solid;
    }
.item5{
    color:black;
    width:300px;
    margin:auto;
    height:470px;
    background-color:white;
    border-radius:10px;
}



@media screen and (min-width:587px){

    body{
        background-color: whitesmoke;
    }
    main{
        margin-left:100px;
        width:600px;
        display: grid;
        grid-row-gap:25px;
        grid-column-gap:25px;   
        grid-template-columns:auto auto auto auto; 
        grid-template-rows:auto auto;
        grid-template-areas: 
        "item1 item1 item2 item5"
        "item3 item4 item4 item5"
        ;
    }
    .item1{ 
        grid-area: item1;
        color:white;
        width:500px;
        height:300px;
        background-color:blueviolet;
        border-radius:10px;
    }
    .text,h5{
        display:inline;
        margin-left:10px;
    }
    .text{
        font-size:15px;
    }
    img{
        border-radius:50%;
        border-width: 2px;
        border-style: solid;
        border-color: white;
        height:50px;
        width:50px;
        float:left;
        display: inline;
        margin-top:28px;
        position: relative;
    }
    #item1{
        width:450px;
        margin:auto;
    }
    #item2{
        width:250px;
        margin:auto;
    }
    #item3{
        width:250px;
        margin:auto;
    }
    #item4{
        width:450px;
        margin:auto;
    }
    #item5{
        width:250px;
        margin:auto;
    }
    aside{
        height:30px;
        width:200px;
        display:inline-block;
    }
    .talk{
        font-size: 20px;
    }
    .quote{
        font-size:12px;
    }
    .item2{
        color:white;
        width:300px;
        height:300px;
        background-color:rgb(82, 71, 92);
        border-radius:10px;
        grid-area: item2;
    }
    .item3{
        color:black;
        width:300px;
        height:280px;
        background-color:white;
        border-radius:10px;
        grid-area: item3;
    }
    .item4{ color:white;
        width:500px;
        height:280px;
        background-color:rgb(23, 15, 44);
        border-radius:10px;
        grid-area: item4;
    }

        #pat{
            border-color: blueviolet;
            border-width: 2px;
            border-style: solid;
        }
    .item5{
        color:black;
        width:300px;
        height:600px;
        background-color:white;
        border-radius:10px;
        grid-area: item5;
    }
     .quo{
         font-size: 15px;
     }

}